.btn-home{
	margin-top:10px;
	padding: 5px;
	display: block;
	margin-right: 10px;

}

.divider-home{
    width:5px;
    height:auto;
    display:inline;
}
.b2{
	margin-left: 100px
}
.b1{
	margin-right: 5px;
}
